@mixin buttonInputReset {
    font-family: inherit;
    border: none;
    outline: none;
    background-color: transparent;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

// @mixin filledBtn {
//     color: $color-white;
//     background-color: $color-primary;
//     transition: $transition;
// }

@mixin productStyles {
    .brand__details--pages,
    .primary__navigation--pages {
        background-color: var(--color-gradient-500);
    }

    .page__intro {
        margin: 20rem auto 5rem;
        width: 100%;
        max-width: 130rem;
    }

    .general__box {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .intro__box {
        & .birthday__cakes-title {
            font-size: 2.5rem;
            font-weight: 800;
            margin-bottom: 2rem;
        }

        & .birthday__cakes-details {
            font-size: 1.7rem;
            line-height: var(--line-height);
        }
    }

    .filter-sort__box {
        justify-self: center;
        align-self: center;

        & ul {
            display: flex;
            gap: 2rem;
        }

        & li {
            font-size: 1.2rem;
            text-transform: uppercase;
            color: var(--color-gray--500);
            font-weight: 800;
            position: relative;

            & select {
                padding: 1rem 2rem;
                font-size: 1.4rem;
                font-family: inherit;
                background-color: var(--color-white);
                width: 20rem;
                appearance: none;
                outline: none;
                border: none;
                cursor: pointer;
            }

            & .select__icon {
                position: absolute;
                right: 2rem;
                top: 4.1rem;
                display: inline-block;
                color: var(--color-gray--800);
            }
        }
    }

    .birthday__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2rem;
        row-gap: 4rem;
        width: 100%;
        max-width: 130rem;
        margin: 0 auto;
    }

    .submenu--page {
        background-color: var(--color-gradient-500);
        top: calc(100% + 1rem);
    }
}
