@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #ff5400;
  --color-accent: #525b8d;
  --color-accent-tint1: #a0a8de;
  --color-font: #444;
  --color-dark-gray: #212529;
  --color-white: #fff;
  --color-background-body: #f3f3f3;
  --transition: all 0.3s linear;
  --border-black: 1px solid #212529;
  --border-primary: 3px solid #ff5400;
  --scale: scale(1.1);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #f1f3f5;
  overflow-x: hidden;
}

.brand__details {
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  background-color: transparent;
  font-size: 1.1rem;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: transparent;
  border-bottom: var(--border);

  position: absolute;
  top: 0;
  left: 0;

  & ul {
    display: flex;
  }
}

.detail {
  padding-right: 3.2rem;
}

.detail:not(:first-child) {
  padding-left: 3.2rem;
}

.detail:not(:last-child) {
  border-right: var(--border);
}

.navbar {
  width: 100%;
  z-index: 999;
  height: 6rem;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  color: var(--color-white);
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 600;
  background-color: transparent;
  position: absolute;
  top: 6rem;
  left: 0;

  & .nav__link {
    color: var(--color-white);
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 800;
  }

  & .logo {
    font-size: 1.5em;
    font-weight: 800;
    color: var(--color-white);
  }
}

.nav__lists {
  display: flex;
  gap: 3.5rem;
}

.nav__link {
  transition: var(--transition);
}

.nav__link:is(:link, :visited) {
  color: var(--color-white);
}

.nav__item {
  padding: 1rem 2rem;
  transition: var(--transition);
}

#birthday__cakes,
#special__cakes,
#food__tray,
#pastries,
#beverages {
  position: relative;
}

.nav__item--submenu {
  z-index: 999;
  position: absolute;
  top: 105%;
  background-color: transparent;
  border: 1px solid var(--color-font);
  width: 200px;
  transition: var(--transition);
  transform: translateX(-2rem);

  display: none;
  /* visibility: none;
  opacity: 0; */
}

.nav__item:hover .nav__item--submenu {
  /* visibility: visible;
  opacity: 1; */
  display: block;
}

.nav__link i {
  font-size: 1rem;
  transition: var(--transition);
}

.menu__options:hover .nav__link i {
  transform: rotate(180deg);
}

.submenu__item {
  display: block;
  text-align: left;
  padding: 1rem 2rem;
  transition: var(--transition);
}

.submenu__item:hover,
.nav__item:hover {
  background-color: var(--color-font);
}

.submenu__item > *:is(:link, :visited) {
  color: var(--color-white);
  font-size: 1.4rem;
  font-weight: 800;
}

.icon__items {
  display: flex;
  gap: 3rem;
}

.header {
  width: 100%;
  height: 100vh;
}

.hero__section {
  height: 100%;
  width: 100%;
}

.hero__slides {
  width: 100%;
  height: 100%;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#hero--1 {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url("/images/front-view-sweet-chocolate-cake.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#hero--2 {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url("/images/fried-spring-rolls-cutting-board.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#hero--3 {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url("/images/assortment-milkshake-glasses-with-fruits-chocolate.jpg")
      no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__box {
  width: 80%;
  max-width: 70rem;
  text-align: center;
  color: var(--color-white);
}

.hero__title {
  font-size: 4.4rem;
  margin-bottom: 2rem;
}

.hero__title--details {
  font-size: 1.7rem;
  line-height: 1.6;
  margin-bottom: 8rem;
}

.order__btn {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.swiper-pagination-bullet {
  background: var(--color-white);
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  background: var(--color-primary);
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--color-white);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--color-white);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.section__about {
  width: 100%;
  padding: 0 6rem;
  margin-top: 16rem;
}

.section__wrapper {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
}

/* .brandname {
  color: var(--color-primary);
} */

.section__content {
  width: 100%;
  display: grid;
  grid-template-columns: 30rem 30rem 1fr;
  grid-template-rows: 28rem 28rem;
  column-gap: 2rem;
  row-gap: 2rem;
}

.section__content img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.smoothie {
  grid-column: 1/2;
  grid-row: 1 / span 2;
}

.jar--cake {
  grid-column: 2/3;
  grid-row: 1/2;
}

.springroll {
  grid-column: 2/3;
  grid-row: 2/3;
}

.about__us {
  grid-row: 1 / span 2;
  align-self: center;
  justify-self: center;
  font-size: 1.5rem;
  color: var(--color-font);
}

.call__order--text {
  font-weight: 700;
  display: block;
  text-align: center;
}

.call__order--number {
  margin: 1rem 0;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-primary);
  display: block;
  text-align: center;
}

.about__us--link {
  text-align: center;
}

.read__more--btn {
  display: inline-block;
  color: var(--color-primary);
  padding: 2px 0;
  border-bottom: var(--border-primary);
}

.section__special__treat {
  margin-top: 16rem;
  width: 100%;
  padding: 3rem 6rem;
  background-color: #343a40;
  color: #fff;
}

.left__align {
  text-align: left;
}

.special__treat {
  margin: 0 auto;
  width: 100%;
  max-width: 110rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
}

.treats__details {
  align-self: center;
}

.badge {
  width: 6.2rem;
  aspect-ratio: 1/1;
}

.prices {
  margin-bottom: 7rem;
}

.price {
  font-size: 1.7rem;
  color: #adb5bd;
  text-decoration: line-through;
  padding-right: 1rem;
}

.discounted__price {
  font-size: 3rem;
  color: var(--color-white);
  font-weight: 700;
}

.food__tray--wrapper {
  overflow: hidden;
}

.food__tray {
  width: 100%;
  transition: var(--transition);
}

.food__tray:hover {
  transform: var(--scale);
}

.section__treats {
  width: 100%;
  padding: 0 6rem;
  margin-top: 16rem;
}

.treats__menu {
  width: 100%;
  max-width: 130rem;
  margin: 0 auto 3rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
  text-transform: uppercase;
  color: var(--color-font);
  font-size: 1.3rem;
  padding: 1rem;
  border-bottom: 1px solid #ced4de;
  font-family: inherit;
  font-weight: 700;
  position: relative;
}

.treats__item {
  cursor: pointer;
  transition: var(--transition);
}

.treats__item--active {
  color: var(--color-primary);
}

.line {
  content: "";
  width: 114px;
  height: 2px;
  border-radius: 5px 5px 0 0;
  background-color: var(--color-primary);
  position: absolute;
  left: 411px;
  top: calc(100% - 1px);
  transition: var(--transition);
}

.section__container {
  width: 100%;
  max-width: 130rem;
  margin: 0 auto;
  display: none;
}

.section__container--active {
  display: block;
}

.section__image__wrapper {
  width: 100%;
}

.article {
  width: 30rem;
  padding-bottom: 2rem 0;
  background-color: var(--color-white);
  border-top: var(--border-primary);
}

.article:hover .image {
  transform: var(--scale);
}

figure {
  width: 100%;
  height: 30rem;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: var(--transition);
}

figcaption {
  display: block;
  text-align: center;
  margin: 2rem 0;
  font-size: 2rem;
}

.cake__description {
  font-weight: 600;
  font-size: 1.6rem;
}

.cake__price {
  font-weight: 800;
  margin-top: 1rem;
  color: var(--color-primary);
}

.btn.full__stretch {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 4rem;
}

.all__cakes {
  margin-top: 8rem;
  text-align: center;
}
